body {
  background: #CBCACA url(../images/background_light.jpg) no-repeat;
  width: 960px;
}

body > header > img {
  padding-top: 20px;
}

.featured {
  float: left;
}

.sidebar {
  background-color: darkgray
}

footer {
  background-color: black;
  color: darkgray;
  text-align: right;
  padding: 1em;
  font-size: .75em;
}

