body {
  background: #c4c0bf url(../images/background_light.jpg);
  background-repeat: repeat-x;
  width: 960px;
  margin: 0 auto;
}

body > header > img {
  padding-top: 20px;
}

.featured {
  width: 480px;
  float: left;
}

.ecard {
  padding-left: 12px;
}

.sidebar {
  background-color: darkgray;
}

footer {
  background-color: black;
  color: darkgray;
  text-align: right;
  padding: 1em;
  font-size: .75em;
}

