
body {
  background: #c4c0bf url(../images/background_light.jpg);
  background-repeat: repeat-x;
  width: 960px;
  margin: 0 auto;
}

img.logo {
  padding-top: 20px;
}

.featured {
  width: 480px;
  float: left;
  background-color: white;
  padding: 0 480px 30px 10px;
  position: relative;
}

article > img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ecard {
  padding-left: 12px;
  background-color: white;
  padding:1px;
  border:1px solid #021a40;
}

.main {
  background-color: white;
  width: 75%;
  float: left;
  margin-top: -5px;
}

.main > article {
  border-bottom: 2px solid lightgray;
}

.sidebar {
  background-color: darkgray;
}

footer {
  background-color: black;
  color: darkgray;
  text-align: right;
  padding: 1em;
  font-size: .75em;
  size: 960px;
}

.clear {
  float: none;
  clear: both;
}
